<section class="subheader">
  <ul>
    {{#link-to "about.mission" className="footerLink" tagName="li"}}Mission{{/link-to}}
    {{#link-to "about.team" classNames="footerLink" tagName="li"}}Team{{/link-to}}
  </ul>
</section>