<div class="publicityClause">
  <div class="page">
    <h1>Opt-In Publicity Clause</h1>
    <button {{action "hideOPC"}}>Close</button>
    <p>By agreeing to the opt-in publicity clause, you hereby affirm that you irrevocably grant Wikitongues and its licensees, successors and assigns the right to license, distribute and use this video, including any pictures, portraits or likeness as captured in a still image from the footage, as well as audio content, in any and all media and for any use whatsoever (except illegal or pornographic), including without limitation, Wikitongues art, stock, advertising, trade and promotion, in perpetuity.</p>
  </div>
</div>