<section class="press">
  <h2>founders</h2>
  <ul>
    <li><p>Daniel Bogre Udell</p><p>bio goes here</p><span><p>high resolution image goes here</p></span></li>
    <li><p>Frederico Andrade</p><p>bio goes here</p><span><p>high resolution image goes here</p></span></li>
    <li><p>Lindie Botes</p><p>bio goes here</p><span><p>high resolution image goes here</p></span></li>
  </ul>
  <h2>products</h2>
  <ul>
    <li><p>Interviews</p><span><p>high resolution images go here</p></span><p>channel trailer goes here</p></li>
    <li><p>Poly</p><span><p>high resolution images go here</p></span><p>nytm video goes here</p></li>
  </ul>
  <h2>stationary</h2>
  <ul>
    <li>logos in multiple versions</li>
  </ul>
</section>