<section class="press">
  <h2>Founders</h2>
  <ul class="bla">
    <li><img src="assets/images/faces/daniel.jpg" alt=""></li>
    <li><img src="assets/images/faces/freddie.jpg" alt=""></li>
    <li><img src="assets/images/faces/lindie.jpg" alt=""></li>
  </ul>
  <ul>
    <li>
      <h3>Daniel Bogre Udell</h3>
      <span>
        <img src="assets/images/faces/daniel.jpg" alt="">
      </span>
      <p>Daniel co-founded and continues to manage the Catalan-language edition of Global Voices Online, an international news organization whose coverage focuses on human rights and the role of citizen media in international politics. He serves as a member of Global Voices Online’s team of ‘Lingua’ Editors, who oversee the organization’s extensive, international network of translators. He has worked for three years as a freelance web developer in New York City, assisting artists and businesses in designing and executing effective online presence. He graduated with honors from Parsons The New School for Design and Eugene Lang The New School for Liberal Arts with a BFA in Design and Technology and BA in Historical Studies, respectively, and an MA in Historical Studies at The New School for Social Research, all in New York City.</p>
    </li>
    <li>
      <h3>Frederico Andrade</h3>
      <span>
        <img src="assets/images/faces/freddie.jpg" alt="">
      </span>
      <p>Frederico designs, develops and implements product strategy, user interface interface and experience design for established technology companies including Airtable, Quotidian Ventures, Pacific Innovation, Matchbook and Amicus, a social good technology startup voted most valuable in the third sector by the New Organizing Institute (NOI). He has offered web and social media consulting for renowned photographers, photojournalists and filmmakers both in fashion and foreign correspondence. He fosters and maintains an open-source development community around the technologies in development for Wikitongues. He graduated with honors from Parsons, the New School for Design in New York with a BFA in Design & Technology. </p>
    </li>
    <li>
      <h3>Lindie Botes</h3>
      <span>
        <img src="assets/images/faces/lindie.jpg" alt="">
      </span>
      <p>Established member of the international polyglot community, Lindie plays a key role in bridging the gap between our operations and the international public at large through her effective use of social media tools such as Tumblr and other platforms.</p>
    </li>
  </ul>
  <h2>Products</h2>
  <ul>
    <li><p>Interviews</p><span><p>high resolution images go here</p></span><p>channel trailer goes here</p></li>
    <li><p>Poly</p><span><p>high resolution images go here</p></span><p>nytm video goes here</p></li>
  </ul>
  <h2>stationary</h2>
  <ul>
    <li>logos in multiple versions</li>
  </ul>
</section>