<section class="press">
  <h2>
    Mission
  </h2>
  <p>
    We change how people see diversity, by connecting every language community in the world.
  </p>
  <h3>
    Mission in numbers
  </h3>
  <ul>
    <li>7000 languages in the world</li>
    <li>2% recorded</li>
    <li>1.1m views on youtube</li>
  </ul>
  <h2>Organization</h2>
  <p>Wikitongues is a highly decentralized organization, with volunteers spread over every continent.</p>
  <ul>
    <li>Our HQ is in Brooklyn, New York.</li>
    <li>We were founded in 2014</li>
    <li>3 founders</li>
    <li>86 volunteers</li>
    <li>42 countries</li>
  </ul>
</section>