<h2>
  Pitch
</h2>
<p>
  We change how people see diversity, by connecting every language community in the world.
</p>
<h2>
  Mission in numbers
</h2>
<ul>
  <li>7000: the number of languages in the world</li>
  <li>144, or 2%: how many languages we have recorded</li>
  <li>266: how many videos we have</li>
  <li>1.1m: the number of views on our videos</li>
</ul>