<section class="press">
  <ul>
    {{#each controller as |press|}}
      <a href={{press.url}}>
        <h2>{{press.source}}</h2>
        <p>{{press.date}}</p>
        <p>{{press.description}}</p>
      </a>
    {{/each}}
  </ul>
</section>