<section class="press">
  <h2>Partners</h2>
  <ul>
    <li>The Language Conservancy</li>
    <li>EndangeredLanguages.com</li>
    <li>I Live Here Queens</li>
    <li>Omniglot</li>
    <li>Rising Voices</li>
  </ul>
  <h2>Friends</h2>
  <ul>
    <li>youtube testimonials</li>
    <li>youtube testimonials</li>
    <li>youtube testimonials</li>
  </ul>
</section>