<section class="press">
  <h2>Interviews</h2>
  <p>Wikitongues interviews offer a glimpse into the lives of people in every language community in the world. Through our growing network of volunteers and partner organizations, we're establishing and maintaining relationships with language communities, tribal councils, cultural entities and governmental agencies worldwide to build the most comprehensive picture of humanity ever made.</p>
  <h3>Interviews in numbers</h3>
  <ul>
    <li>25 volunteers contributing content worldwide</li>
    <li>65k average views a month</li>
    <li>2 min 45: average interview length</li>
  </ul>
  <h2>Poly</h2>
  <p>Wikitongues Poly empowers people to share and preserve their language easily online. By leveraging our growing community, we are building the first truly universal language exchange platform, open too all, and for free. </p>
  <h3>Poly in numbers</h3>
  <ul>
    <li>49,000,000 possible language pair combinations</li>
    <li>4: the average number of languages that die each year</li>
  </ul>
</section>