<section class="banner poly">
</section>
{{products-nav  tagName="section" classNames="subheader"}}
<section class="page">
  <h1>Poly</h1>
  <p>Share your language today. Wikitongues Poly is a new way to experience language. Preserving and documenting language is an involved process and seldom receives the visibility it deserves. Poly makes the creation of dictionaries and bilingual phrasebooks trivial and familiar by leveraging established semiotic principles of modern digital communication.</p>
</section>