<section class="banner poly">
</section>
{{products-nav  tagName="section" classNames="subheader"}}
<section class="page">
  <h1>Poly</h1>
  <p>Wikitongues Poly empowers people to share and preserve their language easily online. By leveraging our growing community, we are building the first truly universal language exchange platform, open too all, and for free. </p>
  <p>For endangered language communities worldwide, documentation of their language is a highly involved process without which the language, with it's histories and knowledge, tends to wither away. Poly simplifies the documentation and preservation process with its familiar interface, so that future generations may once again breathe new life into their heritage.</p>
</section>