<section class="banner views">
</section>
{{products-nav  tagName="section" classNames="subheader"}}
<section class="page">
  <h1>Views</h1>
  <p>Wikitongues interviews offer a glimpse into the lives of people in every language community in the world. Through our growing network of volunteers and partner organizations, we're establishing and maintaining relationships with language communities, tribal councils, cultural entities and governmental agencies worldwide to build the most comprehensive picture of humanity ever made.</p>
  <h2>Contribute</h2>
  <p>All of our videos exist under a <a href="https://creativecommons.org/licenses/by-nc/3.0/us/"> Creative Commons Noncommercial Attribution License</a> to make sure that the educational content is freely accessible to all.</p>
  The three steps to producing a good interview, (whether for yourself or someone else)
  <ul>
    <li>Prime
      <ul>
        <li>Before recording, reflect on your identity, your history, your language and your community. </li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li>Record</li>
    <li>Maintain</li>
  </ul>
</section>
