.press
  display inline-block
  width 100%
  padding 1em

  h2
    max-width 640px
    margin 1em auto
    font-family $sans
    font-size 1.2em
    font-weight 100
    color $secondary-blue

  h3
    max-width 640px
    margin 2em auto
    padding-left 2em
    font-size 1em
    // text-align center
    font-family $sans
    color $secondary-blue

  p
    max-width 640px
    margin auto
    font-family $serif
    font-size 1.3em

  ul
    &.feature
      display table
      margin auto
      padding 0

      li
        list-style-type none
        float left
        padding 115px 0
        margin 0 1em
        text-align center
        height 250px
        width 250px
        background lighten($secondary-blue, 50%)
        border-radius 100%