#videos
  padding-bottom 80px
  width 100%
  overflow hidden

  h1
    font-family $sans
    width 100%
    text-align center
    display inline-block
    margin 1em 0

  .table-wrapper
    max-width 920px
    margin 0 auto 40px
    display block !important
    background lighten($hover, 40%)
    border 1px solid lighten($hover, 20%)
    box-shadow 0 2px 4px rgba(0,0,0,.3)
    padding 7px

    #airtable-release
      background #fafafa !important
      box-shadow 0 2px 4px rgba(0,0,0,.1)
      border-radius $radius !important
      button()
      background #fafafa
      font-size 1.1em
      border none !important

      div
        box-shadow 0 2px 4px rgba(0,0,0,.1)
        border-radius $radius