<div class="donate-component">
  <h1>An appeal by Freddie and Daniel, founders of Wikitongues</h1>
  <p>Languages and their communities disappear every year. </p>
  <p>Wikitongues is an entirely community-driven organization. If you share our mission, please consider supporting our efforts.</p>
</div>