<div class="donate-overlay"></div>
<div class="donate-component">
  <button {{action "closePlea"}}>Close</button>
  <h1>An important message  </h1>
  <p>Wikitongues relies on support from our community. If you believe in what we do, help us change the world.</p>
  <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735">Donate today!</a>
</div>