<div class="donate-component">
  <button {{action "closePlea"}}>close</button>
  <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735">Help us change the world. Donate today!</a>
</div>