<div class="donate-component">
  <button id="closeDonatePlea" {{action "closePlea"}}><img src="img/close.png" alt="close"></button>
  <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735">Change the world with us. Donate today!</a>
</div>