<section class="subheader">
  <ul>
    {{#link-to "get_involved.submit" classNames="subheaderLink" tagName="li"}}Submit  a video{{/link-to}}
    {{#link-to "get_involved.volunteer" classNames="subheaderLink" tagName="li"}}Volunteer{{/link-to}}
    {{#link-to "get_involved.contact" classNames="subheaderLink" tagName="li"}}Contact{{/link-to}}
  </ul>
</section>