<div class="termsOfService">
  <div class="page">
    <h1>Release Form</h1>
    <button {{action "hideTOS"}}>Close</button>
    <p>By submitting a video to Wikitongues, you hereby affirm:</p>
    <ol>
      <li>that you have secured the explicit consent of the individual or individuals who appear in this video;</li>
      <li>that you either possess or have obtained the legal rights to share this video online;</li>
      <li>that you irrevocably grant Wikitongues and its licensees, successors and assigns the rights to this video, to be distributed under a <a href="https://creativecommons.org/licenses/by-nc/3.0/us/" target="_blank">Creative Commons Noncommercial Attribution License</a>, and;</li>
      <li>that you agree and acknowledge that you have no commercial or monetary rights to the footage as distributed by Wikitongues.</li>
    </ol>
  </div>
</div>









