<div id="videos">
  <h1>Video releases through December, 2015.</h1>
  <div class="table-wrapper">
    <div id="airtable-release" class="airtable-embed" width="100%" height="1180px" data-embed-id="shrqS8yD7uUBR62VB" data-layout="grid">
      <a class="airtable-embed-link" href="https://airtable.com/shrqS8yD7uUBR62VB">Open "Order of Release"</a>
      <a class="airtable-embed-attribution" href="https://airtable.com">online online database powered by Airtable
        <img src="https://static.airtable.com/images/airtable_database@2x.png"/>
      </a>
    </div>
    <script id="airtable-embed-script" async defer src="https://static.airtable.com/js/embed/airtable_embed.js"></script>
  </div>
</div>