{{outlet}}
<div id="form-page">
<h1>Apply to join</h1>
  <form action="">

    <div class="grouping">
      <h2>About you</h2>

      <div class="input col-1">
        <input id="name" type="text" name="name" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="name">Name</label>
      </div>

      <div class="input col-1">
        <input id="email" type="text" name="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="email">Email</label>
      </div>

      <div class="input col-1">
        <input id="birthdate" type="text" name="birthdate" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="birthdate">Date of birth</label>
      </div>

      <div class="input col-1">
        <input id="occupation" type="text" name="occupation" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="occupation">Occupation</label>
      </div>

      <div class="input col-2">
        <input id="location" type="text" name="location" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="location">Location</label>
      </div>

      <div class="input col-2">
        <textarea name="languages" id="languages" cols="30" rows="1" required></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <div class="hiddenDiv"></div>
        <label for="languages">What languages can we use with you?</label>
      </div>
    </div>

    <div class="grouping">
      <h2>How would you like to contribute</h2>

        {{!-- <legend>Pick as many as you want</legend> --}}
        <div class="input col-1 checkbox">
          <input id="linguistics" name="linguistics" type="checkbox">
          <label for="linguistics">Linguistics</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="software" name="software" type="checkbox">
          <label for="software">Software development</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="content" name="content" type="checkbox">
          <label for="content">Content acquisition</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="data" name="data" type="checkbox">
          <label for="data">Data management</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="partnerships" name="partnerships" type="checkbox">
          <label for="partnerships">Partnerships</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="copywriting" name="copywriting" type="checkbox">
          <label for="copywriting">Copywriting</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="events" name="events" type="checkbox">
          <label for="events">Events and programming</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="social-media" name="social-media" type="checkbox">
          <label for="social-media">Social media</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="marketing" name="marketing" type="checkbox">
          <label for="marketing">Marketing and PR</label>
        </div>
        <div class="input col-1 checkbox">
          <input id="other" name="other" type="checkbox">
          <label for="other">Other</label>
        </div>
    </div>

    <div class="grouping">
      <h2>Optional</h2>

      <div class="input col-1">
        <input id="facebook" type="text" name="facebook">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="facebook">Facebook page</label>
      </div>

      <div class="input col-1">
        <input id="twitter" type="text" name="twitter">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="twitter">Twitter handle</label>
      </div>

      <div class="input col-1">
        <input id="instagram" type="text" name="instagram">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="instagram">Instagram profile</label>
      </div>

      <div class="input col-1">
        <input id="tumblr" type="text" name="tumblr">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="tumblr">Tumblr page</label>
      </div>

      <div class="input col-1">
        <input id="youtube" type="text" name="youtube">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="youtube">YouTube channel</label>
      </div>

    </div>

    <div class="grouping">

      <div class="input col-2">
        <textarea name="provenance" id="provenance" cols="30" rows="1"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <div class="hiddenDiv"></div>
        <label for="provenance">How did you come across Wikitongues?</label>
      </div>

      <div class="input col-2">
        <textarea name="optional-message" id="optional-message" cols="30" rows="1"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <div class="hiddenDiv"></div>
        <label for="optional-message">Optional message</label>
      </div>
    </div>

    <button>Submit</button>
  </form>
</div>

<script>
  $(function() {
    var hiddenDiv = $('.hiddenDiv'),
      textarea = $('textarea'),
      content = null;

    textarea.on('keyup', function() {
      content = $(this).val();
      content = content.replace(/\n/g, '<br>');
      hiddenDiv.html(content + '<br class="lbr">');
      $(this).css('height', hiddenDiv.innerHeight());
    })
  })
</script>