<section class="banner index"></section>
<section class="page index">
{{!--   <div class="information">
      <h1>Every language in the world</h1>
      <a class="youTubeLink" href="https://www.youtube.com/user/Wikitongues" target="_blank">
          <img src="assets/images/youTubeLink.jpg" alt="">
          <div class="triangle"></div>
          <p>Join us on YouTube</p>
      </a>
      <br>
      <p>Wikitongues is a global effort to record and provide access to every language in the world. We’re a network of volunteers on every continent who work to bring you new language videos every week, driven by a commitment to the value of diversity. Be a part of our movement.</p>
      <ul class="activities">
        <li>
          {{#link-to "getInvolved.submit" tagName="button"}}Submit a video{{/link-to}}
        </li>
        <li>
          {{#link-to "getInvolved.volunteer" tagName="button"}}Become a volunteer{{/link-to}}
        </li>
        <li>
          <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735" target="_blank">Support us</a>
        </li>
      </ul>
  </div> --}}
  <section>
    <h3>Wikitongues is a movement for language rights. Together with speakers and signers of every language in the world, we are building the most inclusive cultural archive ever made, raising awareness about linguistic diversity and rallying to defend it.</h3>
  </section>
  <section>
    <h1>Videos</h1>
  </section>
  <section>
    <h1>poly</h1>
  </section>
  <section>
    <ul>
      <li>Get Involved</li>
      <li>Donate</li>
    </ul>
  </section>
</section>