<section class="banner index"></section>
<section class="page index">
  <div class="information">
      <h1>Every language in the world</h1>
      <a class="youTubeLink" href="https://www.youtube.com/user/Wikitongues" target="_blank">
          <img src="assets/images/youTubeLink.jpg" alt="">
          <div class="triangle"></div>
          <p>Join us on YouTube</p>
      </a>
      <br>
      <p>Wikitongues is a global effort to record and provide access to every language in the world. We’re a network of volunteers on every continent who work to bring you new language videos every week, driven by a commitment to the value of diversity. Be a part of our movement.</p>
      <ul class="activities">
        <li>
          {{#link-to "getInvolved.submit" tagName="button"}}Submit a video{{/link-to}}
        </li>
        <li>
          {{#link-to "getInvolved.volunteer" tagName="button"}}Become a volunteer{{/link-to}}
        </li>
        <li>
          <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735" target="_blank">Support us</a>
        </li>
      </ul>
  </div>
  <div class="progress">
    <h1>Progress to date</h1>
    <p>So far, we've recorded and received 266 videos in 144 languages listed below:</p>
    <ul>
      <li>Acholi</li>
      <li>Afrikaans</li>
      <li>Albanian</li>
      <li>Gheg Albanian</li>
      <li>North Levantine Spoken Arabic</li>
      <li>South Levantine Spoken Arabic</li>
      <li>Aragonese</li>
      <li>Argentine Sign Language</li>
      <li>Armenian</li>
      <li>Aromanian</li>
      <li>Avar</li>
      <li>Aymara</li>
      <li>Azerbaijani</li>
      <li>North Azerbaijani</li>
      <li>Balkan Gagauz Turkish</li>
      <li>Basque</li>
      <li>Batak Toba</li>
      <li>Bavarian</li>
      <li>Belarusan</li>
      <li>Bengali</li>
      <li>Bislama</li>
      <li>Bosnian</li>
      <li>Bulgarian</li>
      <li>Catalan</li>
      <li>Cebuano</li>
      <li>Chechen</li>
      <li>Cherokee</li>
      <li>Chichonyi-Chidzihana-Chikauma</li>
      <li>Chidigo</li>
      <li>Chiduruma</li>
      <li>Mandarin Chinese</li>
      <li>Min Nan Chinese</li>
      <li>Wu Chinese</li>
      <li>Yue Chinese</li>
      <li>Chuwabu</li>
      <li>Cimbrian</li>
      <li>Cornish</li>
      <li>Croatian</li>
      <li>Czech</li>
      <li>Daakaka</li>
      <li>Danish</li>
      <li>Dari</li>
      <li>Dholuo</li>
      <li>Dutch</li>
      <li>North Efate</li>
      <li>English</li>
      <li>Esperanto</li>
      <li>Fijian</li>
      <li>Finnish</li>
      <li>French</li>
      <li>Central-Eastern Niger Fulfulde</li>
      <li>Scottish Gaelic</li>
      <li>Galician</li>
      <li>Georgian</li>
      <li>Standard German</li>
      <li>Swiss German</li>
      <li>Gikuyu</li>
      <li>Greek</li>
      <li>Paraguayan Guaraní</li>
      <li>Hausa</li>
      <li>Hebrew</li>
      <li>Hindi</li>
      <li>Icelandic</li>
      <li>Indonesian</li>
      <li>Greenlandic Inuktitut</li>
      <li>Irish</li>
      <li>Italian</li>
      <li>Jamaican Creole English</li>
      <li>Japanese</li>
      <li>Javanese</li>
      <li>Judeo-Tat</li>
      <li>Kannada</li>
      <li>Kanuri</li>
      <li>Central Khmer</li>
      <li>Kigiryama</li>
      <li>Konkani</li>
      <li>Korean</li>
      <li>K’iche’</li>
      <li>Ladin</li>
      <li>Standard Latvian</li>
      <li>Lau</li>
      <li>Laz</li>
      <li>Limburgish</li>
      <li>Lombard</li>
      <li>Louisiana Creole French</li>
      <li>Luxembourgish</li>
      <li>Macedonian</li>
      <li>Malagasy</li>
      <li>Ambonese Malay</li>
      <li>Malayalam</li>
      <li>Maori</li>
      <li>Mapudungun</li>
      <li>Marathi</li>
      <li>Marwari</li>
      <li>Mekeo</li>
      <li>Mingrelian</li>
      <li>Nafusi</li>
      <li>Central Nahuatl</li>
      <li>Central Huasteca Nahuatl</li>
      <li>Naskapi</li>
      <li>Neverver</li>
      <li>Norwegian</li>
      <li>Occitan</li>
      <li>Western Penan</li>
      <li>Polish</li>
      <li>Pontic</li>
      <li>Portuguese</li>
      <li>Quechua</li>
      <li>Romagnol</li>
      <li>Balkan Romani</li>
      <li>Russian</li>
      <li>Sa</li>
      <li>Scots</li>
      <li>Sea Island Creole English</li>
      <li>Segeju</li>
      <li>Sena</li>
      <li>Serbian</li>
      <li>Shona</li>
      <li>Slovene</li>
      <li>Somali</li>
      <li>Upper Sorbian</li>
      <li>Spanish</li>
      <li>Svan</li>
      <li>Swahili</li>
      <li>Swedish</li>
      <li>Tamil</li>
      <li>Muslim Tat</li>
      <li>Telugu</li>
      <li>Thai</li>
      <li>Northeastern Thai</li>
      <li>Kochila Tharu</li>
      <li>Coyutla Totonac</li>
      <li>Tsakhur</li>
      <li>Tsakonian</li>
      <li>Tsonga</li>
      <li>Turkish</li>
      <li>Udi</li>
      <li>Urdu</li>
      <li>Venetian</li>
      <li>Vietnamese</li>
      <li>Welsh</li>
      <li>Yugoslavian Sign Language</li>
      <li>Northern Zazaki</li>
      <li>Zulu</li>
    </ul>
  </div>
</section>