<section class="page legal">
  <h1>Legal</h1>
  <div class="term">
    <h2>Terms of Service</h2>
    <p>By submitting a video to Wikitongues, you hereby affirm:</p>
    <ol>
      <li><p>that you have secured the explicit consent of the individual or individuals who appear in this video;</p></li>
      <li><p>that you either possess or have obtained the legal rights to share this video online;</p></li>
      <li><p>that you irrevocably grant Wikitongues and its licensees, successors and assigns the rights to this video, to be distributed under a <a href="https://creativecommons.org/licenses/by-nc/3.0/us/" target="_blank">Creative Commons Noncommercial Attribution License</a>, and;</p></li>
      <li><p>that you agree and acknowledge that you have no commercial or monetary rights to the footage as distributed by Wikitongues.</p></li>
    </ol>
    </div>
    <div class="term">
      <h2>Privacy Policy</h2>
      <p>Wikitongues will never give or sell your personal information to any third-party organization or individual without your explicit consent.</p>
    </div>
</section>