<section class="banner press"></section>
<section class="subheader">
  <ul class="pressNav">
    {{#link-to "press.index" tagName="li"}}Overview{{/link-to}}
    {{#link-to "press.product" tagName="li"}}Product Information{{/link-to}}
    {{#link-to "press.assets" tagName="li"}}Media Assets{{/link-to}}
    {{#link-to "press.partners" tagName="li"}}Partner Organizations{{/link-to}}
    {{#link-to "press.news" tagName="li"}}In the News{{/link-to}}
  </ul>
</section>
<section class="page">
  {{outlet}}
  <h1>Press Contact</h1>
  <p>press@wikitongues.org</p>
</section>

