<section class="banner press"></section>
<section class="subheader">
  <ul class="pressNav">
    {{#link-to "press.index" tagName="li"}}Overview{{/link-to}}
    {{#link-to "press.product" tagName="li"}}Product Information{{/link-to}}
    {{#link-to "press.assets" tagName="li"}}Media Assets{{/link-to}}
    {{#link-to "press.partners" tagName="li"}}Friends & Partners{{/link-to}}
    {{#link-to "press.news" tagName="li"}}In the News{{/link-to}}
  </ul>
</section>
  {{outlet}}
<section class="address press">
  <h2>Press Contact</h2>
  <p>press@wikitongues.org</p>
  <p>142 Lenox Road, 2nd Floor</p>
  <p>Brooklyn, NY 11226-2401</p>
  <p>United States</p>
</section>