<section class="banner press"></section>
<section class="page">
<h1>Press Kit</h1>
<ul>
  <li>Organizational Overview</li>
  <li>Press Contact</li>
  <li>Product Information</li>
  <li>Media Assets</li>
  <li>Partner Organizations</li>
  <li>Notable Media Mentions</li>
  <li>Past Press Releases</li>
</ul>
</section>
