.donate-overlay
  position fixed
  z-index 30
  background $blue
  opacity .2
  top 0
  bottom 0
  left 0
  right 0

.donate-component
  background lighten($hover, 40%)
  border 1px solid #ddd
  box-shadow 0 2px 4px rgba(0,0,0,.3)
  width 100%

  button
    button()
    float right
    font-size 1em
    margin .5em
    width initial

  a
    button()
    background #fafafa
    margin .5em auto
    width 80%
    display block
    font-size 1.1em
    box-shadow 0 2px 4px rgba(0,0,0,.1)

    &:hover
      background white
      color $blue

  &.hidePlea
    margin-top -70px
    opacity 0
    transition margin-top .1s ease-in-out, opacity .1s ease-in-out
